/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
:root {
  --color-dark: #141922;
  --color-dark-2: #282828;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-grey: #a3a3a3;
  --color-light-grey: #c1c1c1;
  --color-highlight: #adff2f;
}
.wrapper {
  width: 100%;
  height: 100vh;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}

/* UTILITY */
.txt-center {
  text-align: center;
}
.btn {
  border: 1px solid white;
  border-radius: 40px;
  padding: 15px 35px;
}
.mrg-rgt25 {
  margin: 25px;
}
.mrg-lft25 {
  margin-left: 25px;
}
.padding-x {
  padding-left: 25px;
  padding-right: 25px;
}
.padding-y {
  padding-top: 25px;
  padding-bottom: 25px;
}
.padding-top {
  padding-top: 15px;
}
.txt-color-wt {
  color: white;
}

/* FLEX */
.d-flex {
  display: flex;
}
.wrap {
  flex-wrap: wrap;
}
.column {
  flex-direction: column;
}
.vertical-align {
  align-items: center;
}
.f-end {
  justify-content: flex-end;
}
.f-center {
  justify-content: center;
}
.sp-between {
  justify-content: space-between;
}
.sp-around {
  justify-content: space-around;
}
.sp-evenly {
  justify-content: space-evenly;
}
.gap10 {
  gap: 10px;
}
.gap25 {
  gap: 25px;
}

/* BODY */
#main-section {
  display: flex;
  align-items: stretch;
}

/* LEFT SIDE  */
#left-side {
  width: 350px;
  height: calc(100vh - 90px);
  padding: 20px;
  background-color: var(--color-black);
  color: white;
  position: relative;
}
#left-side a {
  color: var(--color-light-grey);
}
#left-side header {
  height: 90px;
}

/* LEFT SIDE HEADER */
.logo {
  width: 80%;
}

/* LEFT SIDE MAIN */
.icons {
  width: 10%;
}
.navbar-left {
  padding-bottom: 15px;
}
.navbar-left li {
  padding: 5px 0;
}
.playlist li {
  padding: 10px 0;
}
#add-playlist {
  font-size: 2.8em;
  color: white;
}

/* LEFT SIDE FOOTER */
.download {
  width: 25px;
  height: 25px;
}
.profile {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--color-grey);
}
.footer-leftside {
  position: absolute;
  bottom: 0;
  width: 85%;
  padding-bottom: 20px;
}
.footer-leftside > div {
  padding: 15px 0;
}
.topfoot {
  border-bottom: 1px solid var(--color-light-grey);
}

/* RIGHT SIDE */
#right-side {
  width: calc(100% - 350px);
  height: calc(100vh - 90px);
  overflow-y: auto;
}
#right-side header {
  position: fixed;
  right: 0;
  width: calc(100% - 350px);
  height: 90px;
  z-index: 999;
  background-color: rgba(8, 11, 18, 0.95);
}
#main-body {
  margin-top: 90px;
  height: calc(100% - 90px);
}

/* RIGHT SIDE HEADER */

/* RIGHT SIDE MAIN  */
#right-side section {
  background-color: var(--color-dark);
}

/* RIGHT SIDE NAVBAR */
.navbar-right {
  width: 1000px;
  margin: 0 auto;
}
.navbar-right li {
  padding-bottom: 5px;
  text-align: center;
  position: relative;
}
.navbar-right div {
  position: absolute;
  height: 100%;
  width: 30px;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  border-bottom: 3px solid var(--color-highlight);
}
/* RIGHT SIDE RECENTLY PLAYED */
.card {
  width: calc(100% / 6);
  padding: 40px 0;
}
.card div h3,
p {
  line-height: 1.5;
}
.subtitle {
  color: var(--color-light-grey);
}

/* RIGHT SIDE MOST LISTENED */
.song-img-circle {
  border-radius: 50%;
}

/* FOOTER PLAYBAR */
#playbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 90px;
  z-index: 1000;
  background-color: var(--color-dark-2);
  color: var(--color-white);
}
#playbar a {
  color: white;
}
.playbar-left {
  width: 300px;
}
.playbar-right {
  width: 300px;
}
.playbar-center {
  width: 500px;
}

/* INPUT */
input {
  /* -webkit-appearance: none; */
  /* outline: none; */
  width: 100%;
  min-width: 30%;
  height: 5px;
  color: var(--color-light-grey);
  border-radius: 100px;
}
.playbar-center input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--color-grey);
}

/* END INPUT */

.playbar-center ul :nth-child(3) {
  font-size: 2.5em;
}

#playbar i {
  color: var(--color-light-grey);
}
.listening {
  width: 50px;
  height: 50px;
}
.listening-txt {
  font-size: 0.8em;
}

/* MEDIA QUERY */
@media screen and (max-width: 576px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 1366px) {
  .navbar-right {
    max-width: 100%;
    margin: 0 auto;
  }
  .navbar-right ul {
    flex-wrap: wrap;
  }
}
