/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
:root {
  --color-dark: #141922;
  --color-dark-2: #282828;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-grey: #a3a3a3;
  --color-light-grey: #c1c1c1;
  --color-highlight: #adff2f;
}
.wrapper {
  width: 100%;
  height: 100vh;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}

/* UTILITY */
.txt-center {
  text-align: center;
}
.btn {
  border: 1px solid white;
  border-radius: 40px;
  padding: 15px 35px;
}
.mrg-rgt25 {
  margin: 25px;
}
.mrg-lft25 {
  margin-left: 25px;
}
.padding-x {
  padding-left: 25px;
  padding-right: 25px;
}
.padding-y {
  padding-top: 25px;
  padding-bottom: 25px;
}
.padding-top {
  padding-top: 15px;
}
.txt-color-wt {
  color: white;
}

/* FLEX */
.d-flex {
  display: flex;
}
.wrap {
  flex-wrap: wrap;
}
.column {
  flex-direction: column;
}
.vertical-align {
  align-items: center;
}
.f-end {
  justify-content: flex-end;
}
.f-center {
  justify-content: center;
}
.sp-between {
  justify-content: space-between;
}
.sp-around {
  justify-content: space-around;
}
.sp-evenly {
  justify-content: space-evenly;
}
.gap10 {
  gap: 10px;
}
.gap25 {
  gap: 25px;
}

/* BODY */
#main-section {
  display: flex;
  align-items: stretch;
}

/* LEFT SIDE  */
#left-side {
  width: 350px;
  height: calc(100vh - 90px);
  padding: 20px;
  background-color: var(--color-black);
  color: white;
  overflow-y: hidden;
}
#left-side a {
  color: var(--color-light-grey);
}
#left-side header {
  height: 90px;
}
.main-sidebar {
  width: 100%;
  height: calc(100% - 90px);
}

/* LEFT SIDE PLUS */
#left-side-plus {
  width: 70px;
  height: calc(100vh - 90px);
  background-color: var(--color-black);
  color: white;
  display: none;
  padding: 15px;
}
.laterl-bar-plus {
  width: 40px;
  padding: 3px 0;
}

/* LEFT SIDE HEADER */
.logo {
  width: 80%;
}

/* LEFT SIDE MAIN */
.icons {
  width: 10%;
}
.navbar-left {
  padding-bottom: 15px;
}
.navbar-left li {
  padding: 5px 0;
}
.playlist-container {
  max-height: 100%;
}
.playlist {
  max-height: 200px;
  overflow-y: auto;
}
.playlist li {
  padding: 10px 0;
}
#add-playlist {
  font-size: 2.8em;
  color: white;
}

/* LEFT SIDE FOOTER */
.download {
  width: 25px;
  height: 25px;
}
.profile {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--color-grey);
}
.footer-leftside {
  width: 85%;
}
.footer-leftside > div {
  padding: 15px 0;
}
.topfoot {
  border-bottom: 1px solid var(--color-light-grey);
}

/* RIGHT SIDE */
#right-side {
  width: calc(100% - 350px);
  height: calc(100vh - 90px);
  overflow-y: auto;
}

#main-body {
  margin-top: 90px;
  height: calc(100% - 90px);
}

/* RIGHT SIDE HEADER */
#right-side header {
  position: fixed;
  right: 0;
  width: calc(100% - 350px);
  height: 90px;
  z-index: 999;
  background-color: rgba(8, 11, 18, 0.95);
}

/* RIGHT SIDE MAIN  */
#right-side section {
  background-color: var(--color-dark);
}
.fa-regular.fa-circle-play {
  color: var(--color-highlight);
}

/* RIGHT SIDE NAVBAR */
.navbar-right {
  width: 1000px;
  margin: 0 auto;
  padding-top: 10px;
}
.navbar-right li {
  padding-bottom: 5px;
  text-align: center;
  position: relative;
}
.underline-colored {
  position: absolute;
  height: 100%;
  width: 30px;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  transition: 0.5s ease;
  border-bottom: 3px solid var(--color-highlight);
}
/* RIGHT SIDE RECENTLY PLAYED */
.card {
  width: calc(100% / 6);
  padding: 10px;
}
.song-img {
  position: relative;
}
.play-me {
  font-size: 3.5em;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  display: none;
  color: var(--color-highlight);
}
.card div h3,
p {
  line-height: 1.5;
}
.undercard {
  width: 100%;
  font-size: 0.8em;
}
.subtitle {
  color: var(--color-light-grey);
}

/* RIGHT SIDE MOST LISTENED */
.song-img-circle {
  border-radius: 50%;
}
.box-img-circle {
  position: relative;
}

/* HOVER */
.card:hover .play-me {
  display: block;
}
.card:hover {
  cursor: pointer;
}
.btn:hover {
  transform: scale(1.1);
  border: 1px solid var(--color-highlight);
  color: var(--color-highlight);
}
.navbar-right ul li:hover .underline-colored {
  cursor: pointer;
  width: 100%;
}

/* FOOTER PLAYBAR */
#playbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 90px;
  z-index: 1000;
  background-color: var(--color-dark-2);
  color: var(--color-white);
}
#playbar a {
  color: white;
}
.playbar-left {
  width: 300px;
}
.playbar-right {
  width: 300px;
}
.playbar-center {
  width: 500px;
}
.playbar-center p {
  font-size: 0.8em;
}

/* INPUT */
input {
  accent-color: var(--color-grey);
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  min-width: 30%;
  height: 5px;
  color: var(--color-light-grey);
  border-radius: 100px;
}

/* END INPUT */

.playbar-center ul :nth-child(3) {
  font-size: 2.5em;
}

#playbar i {
  color: var(--color-light-grey);
}
.listening {
  width: 50px;
  height: 50px;
}
.listening-txt {
  font-size: 0.8em;
}

/* MEDIA QUERY */
@media screen and (max-width: 1440px) {
  .navbar-right {
    max-width: 100%;
    margin: 0 auto;
  }
  .navbar-right ul {
    flex-wrap: wrap;
    padding: 0 5px 0 5px;
  }
}

@media screen and (max-width: 1024px) {
  .card {
    width: calc(100% / 4);
  }
  .recently-played {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  .card {
    width: calc(100% / 2);
  }
  .recently-played {
    flex-wrap: wrap;
  }
  .playbar-right input {
    display: none;
  }
  #left-side {
    width: 350px;
  }
  #right-side {
    width: calc(100% - 350px);
    height: calc(100vh - 90px);
  }
  #right-side header {
    width: calc(100% - 350px);
  }
}

@media screen and (max-width: 576px) {
  #left-side,
  .playbar-left i,
  .playbar-right {
    display: none;
  }

  .playbar-left {
    width: 30%;
  }
  .playbar-right {
    width: 60%;
  }
  #right-side {
    width: calc(100% - 70px);
    height: calc(100vh - 90px);
  }
  #right-side header {
    width: calc(100% - 70px);
  }
  #left-side-plus {
    display: block;
  }
  #left-side-plus {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
  }
  .download {
    padding: 30px 0;
  }
}
@media screen and (max-width: 425px) {
  .card {
    width: 100%;
  }
}
