/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.debug {
  border: 1px solid black;
}
.wrapper {
  width: 100%;
  height: 100vh;
}

/* FLEX */

/* BODY */

/* LEFT SIDE  */

/* RIGHT SIDE */

/* FOOTER PLAYBAR */
